<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <header>
        <nav>
            <a href="">Home</a>
            <a href="">Contacto</a>
            <a href="">Info</a>
            <a href="">Reservas</a>
            <a href="">Carrito</a>
            <a href="productos.html">Productos</a>
        </nav>
    </header>

    <section>
        <div class="card">
            hola
        </div>
    </section>

    <footer class="footer">
        <div class="footer-title">
            <h3>Síguenos en nuestras redes sociales</h3>
        </div>
        <div class="social-links">
            <a href="https://www.instagram.com/tuCuentaDeInstagram" target="_blank" class="social-link">
                <img src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" alt="Instagram" class="social-icon">
                Instagram
            </a>
            <a href="https://www.facebook.com/tuCuentaDeFacebook" target="_blank" class="social-link">
                <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Facebook_f_logo_%282019%29.svg" alt="Facebook" class="social-icon">
                Facebook
            </a>
        </div>
        <div class="contact-info">
            <a href="mailto:contacto@donaRosa.com" class="contact-link">
                <img src="https://img.freepik.com/fotos-premium/icono-logotipo-gmail-servicio-comunicacion-digital-correo-electronico-plataforma-correo-electronico-google-tecnologia-digital-moderna_1301911-691.jpg" alt="Correo" class="contact-icon">
                contacto@donaRosa.com
            </a>
        </div>
        <div class="copyright">
            <p>&copy; 2024 La Señora Rosa. Todos los derechos reservados.</p>
        </div>
    </footer>
    <script src="../assets/js/app.js"></script>
</body>
</html>