html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

footer {
    margin-top: 20px;
}
.card-img-top {
    width: 100%; /* Asegura que la imagen ocupe todo el ancho de la tarjeta */
    height: 200px; /* Establece una altura fija para todas las imágenes */
    object-fit: cover; /* Recorta las imágenes para que se ajusten a las dimensiones establecidas */
    border-radius: 8px; /* Añade bordes redondeados */
    /* Puedes añadir más estilos aquí según tus necesidades */
}

.card-body {
    display: flex;
    flex-direction: column;
}
